*{
background-color: rgb(250, 80, 50);
}
h1{
    color: yellow;
    font-family: 'Odibee Sans', cursive;
    text-align: center;
}

p{
    color: rgb(233, 248, 96);
    font-size: medium;  
}

img{
    border-radius: 10%;
    width: 200px;
}

.imagenGrande {
    width: 350px;
}

.icono1 {
    width: 30px;
}

.iconoig{
    width: 30px;
}

.iconotw{
    width: 55px;
}

.letra2 {
    font-family: 'Poppins', sans-serif;
}